



.sidebar{
   
    background-color: #98c1d9;
    border-right: 2px solid black;
   
    bottom: 0;
    left: 0;
    margin-top: 56px;;
    padding: 40px 10px;
   
   
}

.sidebar .nav-link{
     color:#3d5a80;
         text-align: center;
    font-size: 20px;
}

.sidebar .nav > li > a{
    padding: 12px 10px;
}


.sidebar .nav-item.active a {
    color: #575962;
    font-weight: 700;
    background-color: #e9ecef;
}


.navbar-toggler {
    top: .25rem;
    right: 1rem;
}

.page{
    margin-top:50px;
    padding-top: 50px;
    padding-left: 0px;
}


.page_inner{
    margin-top:50px;
    
}

.content {
    margin-top: 60px;
    padding-top:40px;
    
}

.card-title{
    text-align: center;
}

.icon-big{
    font-size: 3em;
    min-height: 64px;
}

.icon-small{
    text-align: center;
    font-size: 2em;
    min-height: 50px;
   
}

.table .icon-small{
    text-align: center;
    font-size: 2em;
    min-height: 50px;
   
}

.table a{
    color:black; 
}

.table a:hover{
    color:cadetblue;
}

.house_item a{
    color:black; 
}

.house_item a:hover{
    color:cadetblue;
}

.house_action{
    margin-top: 50px;
    vertical-align: middle;
}



.house_item{
    margin: 20px;
    border: 1px solid black;
}
.house_profile{
    padding: 15px;
}

.house_name{
    margin-top:10px;
}

.house_desc{
    margin-top: 18px;
}

.house_ratg{
    margin-top: 30px;
    text-align: center;
}

.house_comm{
    text-align: center;
    margin-top: 60px;
}